//*
Report: Mjesečne transakcije COR
Datum:2022-09-27


*/

select * into  MjesecniprometCORAcount        from  custacc.dbo.MjesecniprometCORAcount
select * into  MjesecniprometCORAcountArhiva  from  custacc.dbo.MjesecniprometCORAcountArhiva 

